    <script type="text/javascript" src="/javascripts/domready.js"></script>
    <script type="text/javascript" src="/javascripts/sizzle.js"></script>
    <script type="text/javascript" src="/javascripts/minedata.js"></script>
    <script type="text/javascript" src="/javascripts/defaults.js"></script>
    {{if family == 'd3'}}
    <script type="text/javascript" src="/javascripts/d3.js"></script>
    <script type="text/javascript" src="/javascripts/d3.layout.js"></script>
    {{else}} {{if family == 'simile'}}
    <script type="text/javascript">
        var Timeline_ajax_url="/javascripts/timeline_ajax/simile-ajax-api.js",
            Timeline_urlPrefix='/javascripts/timeline_js/',
            Timeline_parameters='bundle=true&defaultLocale="es"';
    </script>
    <script type="text/javascript" src="/javascripts/timeline_js/timeline-api.js"></script>
    {{else}} {{if family == 'layers'}}
    {{if chart.type == 'mapea'}}
    <script type="text/javascript">
        DomReady.ready(function () {
            DV.initMapea("http://data-viewer.ceic-ogov.yaco.es");
        });
    </script>
    <script type="text/javascript" src="/javascripts/Base64.js"></script>
    {{else}}
    <script type="text/javascript" src="/javascripts/OpenLayers.js"></script>
    {{/if}}
    {{/if}}{{/if}}{{/if}}
    <script type="text/javascript" src="/javascripts/${type}.js"></script>