<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${siteTitle}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="${staticUrl}stylesheets/style.css" />
    <link rel="stylesheet" href="${staticUrl}stylesheets/base.css" />

    {{if debug_charts}}
    <script type="text/javascript" src="${staticUrl}javascripts/domready.js"></script>
    {{else}}
    <script type="text/javascript" src="${staticUrl}javascripts/dv-core.js"></script>
    {{/if}}

    {{if chart && !chart.png}}
    {{if debug_charts}}{{partial(chart) "debug"}}{{else}}
    {{if chart.family == 'd3'}}
    <script type="text/javascript" src="${staticUrl}javascripts/dv-d3.js"></script>
    {{else}} {{if chart.family == 'simile'}}
    <script type="text/javascript">
        var Timeline_ajax_url="${staticUrl}javascripts/timeline_ajax/simile-ajax-api.js",
            Timeline_urlPrefix='${staticUrl}javascripts/timeline_js/',
            Timeline_parameters='bundle=true&defaultLocale="es"';
    </script>
    <script type="text/javascript" src="${staticUrl}javascripts/dv-time.js"></script>
    {{else}} {{if chart.family == 'layers'}}
    {{if chart.type == 'mapea'}}
    <script type="text/javascript" src="${staticUrl}javascripts/dv-mapea.js"></script>
    <script type="text/javascript">
        DomReady.ready(function () {
            DV.initMapea("${host}");
        });
    </script>
    {{else}}
    <link rel="stylesheet" href="${staticUrl}javascripts/theme/default/style.css" />
    <script type="text/javascript" src="${staticUrl}javascripts/dv-openlayers.js"></script>
    <script type="text/javascript">
        DomReady.ready(function () {
            DV.initMap("${host}");
        });
    </script>
    {{/if}}
    {{/if}}{{/if}}{{/if}}{{/if}}
    <script type="text/javascript">
        DomReady.ready(function () {
            DV.${chart.type}("#dv_viewport", "#dv_table",
                {
                    {{each(idx, option) chart.options}}{{if idx != 0}}, {{/if}}${option[0]}: "${option[1]}"{{/each}}
                    {{if chart.type == 'mapea'}}, encoded_query: "{{html encoded_query}}"{{/if}}
                }
            );
        });
    </script>
    <link rel="stylesheet" href="${staticUrl}stylesheets/${chart.type}.css" />
    {{/if}}
    <script type="text/javascript">
        DomReady.ready(function () {
            window.advanced = {
                show: document.getElementById("showadvanced"),
                hide: document.getElementById("hideadvanced"),
                section: document.getElementById("advanced")
            };
            advanced.show.onclick = function (evt) {
                advanced.show.className = "hidden";
                advanced.hide.className = "";
                advanced.section.className = "";
            };
            advanced.hide.onclick = function (evt) {
                advanced.show.className = "";
                advanced.hide.className = "hidden";
                advanced.section.className = "hidden";
            };
        });
    </script>
</head>
<body>
    <div id="header">
        <img src="${siteLogo}" alt="" />
        <h1>${siteTitle}</h1>
    </div>

    {{if error}}
    <section>
        <h1>${lingua.viewer.wrong}</h1>
        <div id="error">${error}</div>
    </section>
    {{else}}

    {{if chart}}
    <section>
        <h1 class="first">${lingua.viewer.chart[chart.type]}</h1>
        {{if chart.family != 'simile'}}<div class="scroll">{{/if}}
            <div id="dv_viewport" class="dv_viewport">
            {{if chart.png && chart.family == 'd3'}}<img src="/png/?query={{html encoded_query}}&amp;chart=${chart.type}{{each(idx, option) chart.options}}&amp;${option[0]}=${option[1]}{{/each}}" />{{/if}}
            </div>
        {{if chart.family != 'simile'}}</div>{{/if}}
    </section>
    {{/if}}

    <section>
        <h1 {{if !chart}}class="first"{{/if}}>${lingua.viewer.data}</h1>
        <div class="scroll">
            {{html table}}
        </div>
    </section>

    <div class="buttons">
        <button id="showadvanced">${lingua.viewer.advanced}</button>
        <button id="hideadvanced" class="hidden">${lingua.viewer.hideadvanced}</button>
    </div>

    <section id="advanced" class="hidden">
        <h1>${lingua.viewer.query}</h1>
        <pre id="dv_query"><code class="language-sparql">${query}</code></pre>

        <h1>${lingua.viewer.embed}</h1>
        <pre><code class="html">${embedCode}</code></pre>

        <p class="note">${lingua.viewer.embedNote}</p>
    </section>
    {{/if}}

    <div id="footer">
        <img class="floatr" src="${staticUrl}images/logo-small.png" alt="GORQL Viewer" title="GORQL Viewer" />
    </div>
</body>
</html>