<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Data Viewer</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    {{if chart && !chart.png && chart.family == 'd3'}}
    <script type="text/javascript" src="/javascripts/domready.js"></script>
    <script type="text/javascript" src="/javascripts/sizzle.js"></script>
    <script type="text/javascript" src="/javascripts/d3.js"></script>
    <script type="text/javascript" src="/javascripts/d3.layout.js"></script>
    <script type="text/javascript" src="/javascripts/${chart.type}.js"></script>
    <script type="text/javascript">
        DomReady.ready(function () {
            DV.chart("#dv_viewport",
                [{{each(idx, value) chart.data.labels}}{{if idx != 0}}, {{/if}}"${value}"{{/each}}],
                [{{each(idx, serie) chart.data.values}}{{if idx != 0}}, {{/if}}[{{each(idx, value) serie}}{{if idx != 0}}, {{/if}}${value}{{/each}}]{{/each}}],
                {
                    {{each(idx, option) chart.options}}{{if idx != 0}}, {{/if}}${option[0]}: "${option[1]}"{{/each}}
                });
        });
    </script>
    <link rel="stylesheet" href="/stylesheets/${chart.type}.css" />
    {{else}}

    {{if chart && chart.family == 'simile'}}
    <script type="text/javascript" src="/javascripts/domready.js"></script>
    <script type="text/javascript">
        Timeline_ajax_url="/timeline/timeline_ajax/simile-ajax-api.js";
        Timeline_urlPrefix='/timeline/timeline_js/';
        Timeline_parameters='bundle=true&defaultLocale="es"';
    </script>
    <script type="text/javascript" src="/timeline/timeline_js/timeline-api.js"></script>
    <script type="text/javascript" src="/javascripts/timeline.js"></script>
    <script type="text/javascript">
        DomReady.ready(function () {
            var viewport = document.getElementById("dv_viewport");
            viewport.style.width = ${chart.sizeX} + 'px';
            viewport.style.height = ${chart.sizeY} + 'px';
            initTimeline(
                {
                    start: "${chart.start}",
                    title: "${chart.title}"{{if chart.end}},
                    end: "${chart.end}"{{/if}}{{if chart.description}},
                    description: "${chart.description}"{{/if}}
                },
                [{{each(idx, value) headers}}{{if idx != 0}}, {{/if}}"${value}"{{/each}}],
                [{{each(idx, row) results}}{{if idx != 0}}, {{/if}}[{{each(idx, value) row}} {{if idx != 0}}, {{/if}}"${value}"{{/each}}]
                 {{/each}}],
                viewport,
                {
                    detailRes: "${chart.detailRes}",
                    overviewRes: "${chart.overviewRes}"
                }
            );
        });
    </script>
    {{else}}

    {{if chart && chart.family == 'layers'}}
    <script type="text/javascript" src="/javascripts/domready.js"></script>
    <script type="text/javascript" src="/openlayers/OpenLayers.js"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script type="text/javascript">
        DomReady.ready(function () {
            var viewport = document.getElementById("dv_viewport");
            viewport.style.width = ${chart.sizeX} + 'px';
            viewport.style.height = ${chart.sizeY} + 'px';
            initMap(
                {
                    lat: "${chart.lat}",
                    long: "${chart.long}"{{if chart.description}},
                    description: "${chart.description}"{{/if}}
                },
                [{{each(idx, value) headers}}{{if idx != 0}}, {{/if}}"${value}"{{/each}}],
                [{{each(idx, row) results}}{{if idx != 0}}, {{/if}}[{{each(idx, value) row}} {{if idx != 0}}, {{/if}}"${value}"{{/each}}]
                 {{/each}}],
                viewport.id,
                {}
            );
        });
    </script>
    {{/if}}

    {{/if}}

    {{/if}}
</head>
<body>
    <h1>Data Viewer</h1>

    {{if error}}
    <div id="error">${error}</div>
    {{else}}
    <div id="dv_viewport">
    {{if chart && chart.png && chart.family == 'd3'}}<img src="/png/?query=${encoded_query}&chart=${chart.type}" />{{/if}}
    </div>

    <table id="dv_table">
    <thead>
        {{each headers}}<th>${$value}</th>{{/each}}
    </thead>
    <tbody>
        {{each results}}<tr>
            {{each $value}}<td>${$value}</td>{{/each}}
        </tr>{{/each}}
    </tbody>
    </table>
    <pre id="dv_query">${query}</pre>
    {{/if}}
</body>
</html>