<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>${lingua.title}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/base.css" />

    {{if chart && !chart.png}}
    {{if debug_charts}}{{partial(chart) "debug"}}{{else}}
    <script type="text/javascript" src="/javascripts/dv-core.js"></script>
    {{if chart.family == 'd3'}}
    <script type="text/javascript" src="/javascripts/dv-d3.js"></script>
    {{else}} {{if chart.family == 'simile'}}
    <script type="text/javascript">
        var Timeline_ajax_url="/javascripts/timeline_ajax/simile-ajax-api.js",
            Timeline_urlPrefix='/javascripts/timeline_js/',
            Timeline_parameters='bundle=true&defaultLocale="es"';
    </script>
    <script type="text/javascript" src="/javascripts/dv-time.js"></script>
    {{else}} {{if chart.family == 'layers'}}
    {{if chart.type == 'mapea'}}
    <script type="text/javascript" src="/javascripts/dv-mapea.js"></script>
    <script type="text/javascript">
        DomReady.ready(function () {
            DV.initMapea("${host}");
        });
    </script>
    {{else}}
    <link rel="stylesheet" href="/javascripts/theme/default/style.css" />
    <script type="text/javascript" src="/javascripts/dv-openlayers.js"></script>
    <script type="text/javascript">
        DomReady.ready(function () {
            DV.initMap("${host}");
        });
    </script>
    {{/if}}
    {{/if}}{{/if}}{{/if}}{{/if}}
    <script type="text/javascript">
        DomReady.ready(function () {
            DV.${chart.type}("#dv_viewport",
                "#dv_table",
                {
                    {{each(idx, option) chart.options}}{{if idx != 0}}, {{/if}}${option[0]}: "${option[1]}"{{/each}}
                    {{if chart.type == 'mapea'}}, encoded_query: "{{html encoded_query}}"{{/if}}
                });
        });
    </script>
    <link rel="stylesheet" href="/stylesheets/${chart.type}.css" />
    {{/if}}
</head>
<body>
    {{if error}}
    <section>
        <h1>${lingua.viewer.wrong}</h1>
        <div id="error">${error}</div>
    </section>
    {{else}}

    {{if chart}}
    <section>
        <h1 class="first">${lingua.viewer.chart[chart.type]}</h1>
        <div id="dv_viewport" class="dv_viewport">
        {{if chart.png && chart.family == 'd3'}}<img src="/png/?query={{html encoded_query}}&amp;chart=${chart.type}{{each(idx, option) chart.options}}&amp;${option[0]}=${option[1]}{{/each}}" />{{/if}}
        </div>
    </section>
    {{/if}}

    <section>
        <h1 {{if !chart}}class="first"{{/if}}>${lingua.viewer.data}</h1>
        {{html table}}
    </section>

    <section>
        <h1>${lingua.viewer.query}</h1>
        <pre id="dv_query"><code class="language-sparql">${query}</code></pre>
    </section>
    {{/if}}
</body>
</html>