#dv_viewport {
    font: 10px sans-serif;
}

#dv_viewport .bar rect {
    stroke: white;
}

#dv_viewport .bar text.value {
    fill: white;
}

#dv_viewport .bar text.rule {
    fill: #CCC;
}

#dv_viewport .bar text.label {
    fill: black;
}

#dv_viewport .bar line {
    stroke: #CCC;
}