#dv_viewport {
    font: 10px sans-serif;
}

#dv_viewport .bar rect.serie0 {
    fill: steelblue;
    stroke: white;
}

#dv_viewport .bar rect.serie1 {
    fill: #8800ee;
    stroke: white;
}

#dv_viewport .bar rect.serie2 {
    fill: #D9005B;
    stroke: white;
}

#dv_viewport .bar text.value {
    fill: white;
}

#dv_viewport .bar text.rule {
    fill: #CCC;
}

#dv_viewport .bar text.label {
    fill: black;
}

#dv_viewport .bar line {
    stroke: #CCC;
}