div.dv_viewport .line {
    font: 10px sans-serif;
}

div.dv_viewport .line #clip {
    fill: none;
}

div.dv_viewport .line .point {
    stroke: transparent;
    fill: transparent;
}

div.dv_viewport .line text.highlight {
    font-size: 18px;
    font-weight: bold;
}

div.dv_viewport .line path.line {
    fill: none;
    stroke-width: 1.5px;
}

div.dv_viewport .line path.line.serie0 {
    stroke: #80199c;
}

div.dv_viewport .line path.line.serie1 {
    stroke: #c92881;
}

div.dv_viewport .line path.line.serie2 {
    stroke: #ef189b;
}

div.dv_viewport .line path.line.serie3 {
    stroke: #f74236;
}

div.dv_viewport .line path.line.serie4 {
    stroke: #f86a2d;
}

div.dv_viewport .line path.line.serie5 {
    stroke: #ffa532;
}

div.dv_viewport .line path.line.serie6 {
    stroke: #fff253;
}

div.dv_viewport .line path.line.serie7 {
    stroke: #b1d84a;
}

div.dv_viewport .line path.line.serie8 {
    stroke: #18b665;
}

div.dv_viewport .line path.line.serie9 {
    stroke: #17c5bd;
}

div.dv_viewport .line path.line.serie10 {
    stroke: #15bbf9;
}

div.dv_viewport .line path.line.serie11 {
    stroke: #1864b4;
}

div.dv_viewport .line path.area {
    fill-opacity: .25;
}

div.dv_viewport .line .axis {
    shape-rendering: crispEdges;
}

div.dv_viewport .line .y.axis path.domain,
div.dv_viewport .line .x.axis path.domain,
div.dv_viewport .line .x.axis line.tick {
    stroke: none;
}

div.dv_viewport .line .x.axis line,
div.dv_viewport .line .x.axis path,
div.dv_viewport .line .y.axis line,
div.dv_viewport .line .y.axis path {
    fill: none;
    stroke: #000;
}

div.dv_viewport .line .y.axis line {
    stroke: #CCC;
}

div.dv_viewport .line .y.axis text {
    fill: #CCC;
}
