#dv_viewport {
    font: 10px sans-serif;
}

#dv_viewport #clip {
    fill: none;
}

#dv_viewport path.line {
    fill: none;
    stroke-width: 1.5px;
}

#dv_viewport path.line.serie0 {
    stroke: steelblue;
}

#dv_viewport path.line.serie1 {
    stroke: #8800ee;
}

#dv_viewport path.line.serie2 {
    stroke: #D9005B;
}

#dv_viewport path.area {
    fill-opacity: .5;
}

#dv_viewport path.area.serie0 {
    fill: steelblue;
}

#dv_viewport path.area.serie1 {
    fill: #8800ee;
}

#dv_viewport path.area.serie2 {
    fill: #D9005B;
}

#dv_viewport .axis {
    shape-rendering: crispEdges;
}

#dv_viewport .x.axis .minor {
    stroke-opacity: .5;
}

#dv_viewport .x.axis line,
#dv_viewport .x.axis path,
#dv_viewport .y.axis line,
#dv_viewport .y.axis path {
    fill: none;
    stroke: #000;
}