#dv_viewport {
    font: 10px sans-serif;
}

#dv_viewport .pie path.sector,
#dv_viewport .pie rect.label {
    stroke: white;
}

#dv_viewport .pie text.highlight {
    font-weight: bold;
    font: 22px sans-serif;
    fill: black;
}

#dv_viewport .colorA0 {
    fill: #80199c;
}

#dv_viewport .colorA1 {
    fill: #c92881;
}

#dv_viewport .colorA2 {
    fill: #ef189b;
}

#dv_viewport .colorA3 {
    fill: #f74236;
}

#dv_viewport .colorA4 {
    fill: #f86a2d;
}

#dv_viewport .colorA5 {
    fill: #ffa532;
}

#dv_viewport .colorA6 {
    fill: #fff253;
}

#dv_viewport .colorA7 {
    fill: #b1d84a;
}

#dv_viewport .colorA8 {
    fill: #18b665;
}

#dv_viewport .colorA9 {
    fill: #17c5bd;
}

#dv_viewport .colorA10 {
    fill: #15bbf9;
}

#dv_viewport .colorA11 {
    fill: #1864b4;
}

#dv_viewport .colorB0 {
    fill: #810f9d;
}

#dv_viewport .colorB1 {
    fill: #9d17be;
}

#dv_viewport .colorB2 {
    fill: #f817a0;
}

#dv_viewport .colorB3 {
    fill: #ff1e1e;
}

#dv_viewport .colorB4 {
    fill: #ff602e;
}

#dv_viewport .colorB5 {
    fill: #ffaa3b;
}

#dv_viewport .colorB6 {
    fill: #ffd342;
}

#dv_viewport .colorB7 {
    fill: #eaed42;
}

#dv_viewport .colorB8 {
    fill: #6dbd49;
}

#dv_viewport .colorB9 {
    fill: #18a5b6;
}

#dv_viewport .colorB10 {
    fill: #16dad3;
}

#dv_viewport .colorB11 {
    fill: #1598ff;
}

#dv_viewport .colorB12 {
    fill: #4633d1;
}

#dv_viewport .colorB13 {
    fill: #9d006b;
}

#dv_viewport .colorB14 {
    fill: #bc083f;
}

#dv_viewport .colorB15 {
    fill: #c21c0c;
}

#dv_viewport .colorB16 {
    fill: #c45b16;
}

#dv_viewport .colorB17 {
    fill: #c69c20;
}

#dv_viewport .colorB18 {
    fill: #c8bc2f;
}

#dv_viewport .colorB19 {
    fill: #80a229;
}

#dv_viewport .colorB20 {
    fill: #008942;
}

#dv_viewport .colorB21 {
    fill: #008e88;
}

#dv_viewport .colorB22 {
    fill: #1098ca;
}

#dv_viewport .colorB23 {
    fill: #004894;
}

#dv_viewport .colorB24 {
    fill: #1c1073;
}

#dv_viewport .colorC0 {
    fill: #810f9d;
}

#dv_viewport .colorC1 {
    fill: #790c94;
}

#dv_viewport .colorC2 {
    fill: #9d17be;
}

#dv_viewport .colorC3 {
    fill: #d61698;
}

#dv_viewport .colorC4 {
    fill: #f817a0;
}

#dv_viewport .colorC5 {
    fill: #f72364;
}

#dv_viewport .colorC6 {
    fill: #ff1e1e;
}

#dv_viewport .colorC7 {
    fill: #fe3a29;
}

#dv_viewport .colorC8 {
    fill: #ff602e;
}

#dv_viewport .colorC9 {
    fill: #ff8634;
}

#dv_viewport .colorC10 {
    fill: #ffaa3b;
}

#dv_viewport .colorC11 {
    fill: #ffce42;
}

#dv_viewport .colorC12 {
    fill: #ffd342;
}

#dv_viewport .colorC13 {
    fill: #fff253;
}

#dv_viewport .colorC14 {
    fill: #eaed42;
}

#dv_viewport .colorC15 {
    fill: #b1d84a;
}

#dv_viewport .colorC16 {
    fill: #6dbd49;
}

#dv_viewport .colorC17 {
    fill: #17be68;
}

#dv_viewport .colorC18 {
    fill: #18a5b6;
}

#dv_viewport .colorC19 {
    fill: #17c5bd;
}

#dv_viewport .colorC20 {
    fill: #16dad3;
}

#dv_viewport .colorC21 {
    fill: #35c8ff;
}

#dv_viewport .colorC22 {
    fill: #1598ff;
}

#dv_viewport .colorC23 {
    fill: #176ecd;
}

#dv_viewport .colorC24 {
    fill: #4633d1;
}

#dv_viewport .colorC25 {
    fill: #80199c;
}

#dv_viewport .colorC26 {
    fill: #9d006b;
}

#dv_viewport .colorC27 {
    fill: #bc0072;
}

#dv_viewport .colorC28 {
    fill: #bc083f;
}

#dv_viewport .colorC29 {
    fill: #c70000;
}

#dv_viewport .colorC30 {
    fill: #c21c0c;
}

#dv_viewport .colorC31 {
    fill: #c33b11;
}

#dv_viewport .colorC32 {
    fill: #c45b16;
}

#dv_viewport .colorC33 {
    fill: #c57c1b;
}

#dv_viewport .colorC34 {
    fill: #c69c20;
}

#dv_viewport .colorC35 {
    fill: #c7a020;
}

#dv_viewport .colorC36 {
    fill: #c8bc2f;
}

#dv_viewport .colorC37 {
    fill: #b1b423;
}

#dv_viewport .colorC38 {
    fill: #80a229;
}

#dv_viewport .colorC39 {
    fill: #478b28;
}

#dv_viewport .colorC40 {
    fill: #008942;
}

#dv_viewport .colorC41 {
    fill: #007382;
}

#dv_viewport .colorC42 {
    fill: #008e88;
}

#dv_viewport .colorC43 {
    fill: #00a09a;
}

#dv_viewport .colorC44 {
    fill: #1098ca;
}

#dv_viewport .colorC45 {
    fill: #006bbf;
}

#dv_viewport .colorC46 {
    fill: #004894;
}

#dv_viewport .colorC47 {
    fill: #25159b;
}

#dv_viewport .colorC48 {
    fill: #1c1073;
}

#dv_viewport .colorC49 {
    fill: #420f69;
}
