div.dv_viewport .pie {
    font: 10px sans-serif;
}

div.dv_viewport .pie path.sector,
div.dv_viewport .pie rect.label {
    stroke: white;
}

div.dv_viewport .pie text.highlight {
    font-weight: bold;
    font: 22px sans-serif;
    fill: black;
}

div.dv_viewport .pie .serieB0 {
    fill: #810f9d;
}

div.dv_viewport .pie .serieB1 {
    fill: #9d17be;
}

div.dv_viewport .pie .serieB2 {
    fill: #f817a0;
}

div.dv_viewport .pie .serieB3 {
    fill: #ff1e1e;
}

div.dv_viewport .pie .serieB4 {
    fill: #ff602e;
}

div.dv_viewport .pie .serieB5 {
    fill: #ffaa3b;
}

div.dv_viewport .pie .serieB6 {
    fill: #ffd342;
}

div.dv_viewport .pie .serieB7 {
    fill: #eaed42;
}

div.dv_viewport .pie .serieB8 {
    fill: #6dbd49;
}

div.dv_viewport .pie .serieB9 {
    fill: #1cd48a;
}

div.dv_viewport .pie .serieB10 {
    fill: #16dad3;
}

div.dv_viewport .pie .serieB11 {
    fill: #1598ff;
}

div.dv_viewport .pie .serieB12 {
    fill: #4633d1;
}

div.dv_viewport .pie .serieB13 {
    fill: #9d006b;
}

div.dv_viewport .pie .serieB14 {
    fill: #bc083f;
}

div.dv_viewport .pie .serieB15 {
    fill: #c21c0c;
}

div.dv_viewport .pie .serieB16 {
    fill: #c45b16;
}

div.dv_viewport .pie .serieB17 {
    fill: #c69c20;
}

div.dv_viewport .pie .serieB18 {
    fill: #c8bc2f;
}

div.dv_viewport .pie .serieB19 {
    fill: #80a229;
}

div.dv_viewport .pie .serieB20 {
    fill: #008942;
}

div.dv_viewport .pie .serieB21 {
    fill: #008e88;
}

div.dv_viewport .pie .serieB22 {
    fill: #1098ca;
}

div.dv_viewport .pie .serieB23 {
    fill: #004894;
}

div.dv_viewport .pie .serieB24 {
    fill: #1c1073;
}

div.dv_viewport .pie .serieC0 {
    fill: #810f9d;
}

div.dv_viewport .pie .serieC1 {
    fill: #790c94;
}

div.dv_viewport .pie .serieC2 {
    fill: #9d17be;
}

div.dv_viewport .pie .serieC3 {
    fill: #d61698;
}

div.dv_viewport .pie .serieC4 {
    fill: #f817a0;
}

div.dv_viewport .pie .serieC5 {
    fill: #f72364;
}

div.dv_viewport .pie .serieC6 {
    fill: #ff1e1e;
}

div.dv_viewport .pie .serieC7 {
    fill: #fe3a29;
}

div.dv_viewport .pie .serieC8 {
    fill: #ff602e;
}

div.dv_viewport .pie .serieC9 {
    fill: #ff8634;
}

div.dv_viewport .pie .serieC10 {
    fill: #ffaa3b;
}

div.dv_viewport .pie .serieC11 {
    fill: #ffce42;
}

div.dv_viewport .pie .serieC12 {
    fill: #ffd342;
}

div.dv_viewport .pie .serieC13 {
    fill: #fff253;
}

div.dv_viewport .pie .serieC14 {
    fill: #eaed42;
}

div.dv_viewport .pie .serieC15 {
    fill: #b1d84a;
}

div.dv_viewport .pie .serieC16 {
    fill: #6dbd49;
}

div.dv_viewport .pie .serieC17 {
    fill: #17be68;
}

div.dv_viewport .pie .serieC18 {
    fill: #18a5b6;
}

div.dv_viewport .pie .serieC19 {
    fill: #17c5bd;
}

div.dv_viewport .pie .serieC20 {
    fill: #16dad3;
}

div.dv_viewport .pie .serieC21 {
    fill: #35c8ff;
}

div.dv_viewport .pie .serieC22 {
    fill: #1598ff;
}

div.dv_viewport .pie .serieC23 {
    fill: #176ecd;
}

div.dv_viewport .pie .serieC24 {
    fill: #4633d1;
}

div.dv_viewport .pie .serieC25 {
    fill: #80199c;
}

div.dv_viewport .pie .serieC26 {
    fill: #9d006b;
}

div.dv_viewport .pie .serieC27 {
    fill: #bc0072;
}

div.dv_viewport .pie .serieC28 {
    fill: #bc083f;
}

div.dv_viewport .pie .serieC29 {
    fill: #c70000;
}

div.dv_viewport .pie .serieC30 {
    fill: #c21c0c;
}

div.dv_viewport .pie .serieC31 {
    fill: #c33b11;
}

div.dv_viewport .pie .serieC32 {
    fill: #c45b16;
}

div.dv_viewport .pie .serieC33 {
    fill: #c57c1b;
}

div.dv_viewport .pie .serieC34 {
    fill: #c69c20;
}

div.dv_viewport .pie .serieC35 {
    fill: #c7a020;
}

div.dv_viewport .pie .serieC36 {
    fill: #c8bc2f;
}

div.dv_viewport .pie .serieC37 {
    fill: #b1b423;
}

div.dv_viewport .pie .serieC38 {
    fill: #80a229;
}

div.dv_viewport .pie .serieC39 {
    fill: #478b28;
}

div.dv_viewport .pie .serieC40 {
    fill: #008942;
}

div.dv_viewport .pie .serieC41 {
    fill: #007382;
}

div.dv_viewport .pie .serieC42 {
    fill: #008e88;
}

div.dv_viewport .pie .serieC43 {
    fill: #00a09a;
}

div.dv_viewport .pie .serieC44 {
    fill: #1098ca;
}

div.dv_viewport .pie .serieC45 {
    fill: #006bbf;
}

div.dv_viewport .pie .serieC46 {
    fill: #004894;
}

div.dv_viewport .pie .serieC47 {
    fill: #25159b;
}

div.dv_viewport .pie .serieC48 {
    fill: #1c1073;
}

div.dv_viewport .pie .serieC49 {
    fill: #420f69;
}
