body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dv_table,
#dv_table tr,
#dv_table td {
    border: 1px solid black;
}

#dv_query {
    background: #EEE;
    padding: 5px;
    border: 1px solid #555;
    white-space: pre-wrap;
}
