body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1 {
    color: #404040;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 20px;
    margin-top: 35px;
    text-transform: capitalize;
    font-family: 'Droid Serif', serif;
}

h1.first {
    margin-top: 0px;
}

#dv_viewport {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#dv_table {
    color: #404040;
    width: 100%;
    border-spacing: 0px;
}

#dv_table thead tr {
    text-align: left;
}

#dv_table th {
    border-bottom: 1px solid #bfbfbf;
    text-transform: capitalize;
}

#dv_table th,
#dv_table td {
    border-right: 1px dashed #dddddd;
    padding: 3px 35px 3px 35px;
}

#dv_table th:first-child,
#dv_table td:first-child {
    padding-left: 12px;
}

#dv_table th:last-child,
#dv_table td:last-child {
    border-right: none;
    padding-right: 12px;
    width: 100%;
}

#dv_table tr.odd {
    background-color: white;
}

#dv_table tr.even {
    background-color: #f0f0f0;
}

#dv_query {
    background: #EEE;
    padding: 5px;
    border: 1px solid #555;
    white-space: pre-wrap;
    margin-bottom: 0px;
}

#dv_viewport .serie0 {
    fill: #80199c;
}

#dv_viewport .serie1 {
    fill: #c92881;
}

#dv_viewport .serie2 {
    fill: #ef189b;
}

#dv_viewport .serie3 {
    fill: #f74236;
}

#dv_viewport .serie4 {
    fill: #f86a2d;
}

#dv_viewport .serie5 {
    fill: #ffa532;
}

#dv_viewport .serie6 {
    fill: #fff253;
}

#dv_viewport .serie7 {
    fill: #b1d84a;
}

#dv_viewport .serie8 {
    fill: #18b665;
}

#dv_viewport .serie9 {
    fill: #17c5bd;
}

#dv_viewport .serie10 {
    fill: #15bbf9;
}

#dv_viewport .serie11 {
    fill: #1864b4;
}