body {
    padding: 10px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1 {
    color: #404040;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 20px;
    margin-top: 35px;
    font-family: 'Droid Serif', serif;
}

h1.first {
    margin-top: 0px;
}

.floatr {
    float: right;
}

.scroll {
    overflow-x: auto;
    overflow-y: hidden;
}

.hidden {
    display: none;
}

.buttons {
    margin-top: 35px;
}

button {
    padding: 5px;
}

#header {
    position: relative;
    margin-bottom: 30px;
}

#header h1 {
    display: inline-block;
    margin: -0.5em 0px 0px 10px;
    position: absolute;
    top: 50%;
    border-bottom: 0;
}

div.dv_viewport {
    margin-left: auto;
    margin-right: auto;
}

#dv_query {
    background: #EEE;
    padding: 5px;
    border: 1px solid #555;
    white-space: pre-wrap;
    margin-bottom: 0px;
}

#footer {
    margin-top: 10px;
}

#footer img {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 74px;
    height: 22px;
}